<!DOCTYPE html>
<html>

<head>
    <title>{{#i18n}}mediacentre.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
    <script src="/mediacentre/public/js/controller.js" type="text/javascript"></script>
    <script src="/mediacentre/public/js/model.js" type="text/javascript"></script>
    <link href="/mediacentre/public/css/additional.css" rel="stylesheet">
    <script type="text/ng-template" id="empty"></script>
</head>

<body ng-controller="MediacentreController" class="mediacentre">
<portal>
    <h2>{{#i18n}}mediacentre.title{{/i18n}}</h2>
    <i18n>mediacentre.texte.test</i18n>
</portal>


    <div class="contextual-buttons seven cell">
        <div ng-if="isDisplayExportXmlButton && (isExport1D  || isExportMixte)">
            <br><br><button ng-click="exportXML_1D()" class="cell right-magnet">
                <i18n>mediacentre.export1D</i18n>
            </button>
        </div>

        <div ng-if="isDisplayExportXmlButton && (isExport2D  || isExportMixte)">
            <button ng-click="exportXML_2D()" class="cell right-magnet">
            <i18n>mediacentre.export2D</i18n>
            </button>
        </div>
    </div>


<div class="material main wrapper">
    <section ng-if="display.detail">
        <container template="detail"></container>
    </section>
    <section class="main" ng-if="display.detail == false">

        <div class="row" ng-hide="schools.length === 1 || !display.listSchools">
            <label class="two cell center"><i18n>mediacentre.structure</i18n></label>
			<span class="ten cell">
				<select ng-model="selectedSchool"
                        ng-init="selectedSchool = schools[0].UAI"
                        ng-options="school.UAI as school.name for school in schools"
                        ng-change="getRessources(selectedSchool)">
                </select>
			</span>
        </div>

        <table class="list-view twelve" >
            <thead>
            <tr>
                <th class="one centered">
                </th>
                <th class="three centered"
                    ng-class="{'order-by-reversed': (sort.expression === 'id' && sort.reverse === false),
										'order-by': (sort.expression === 'id' && sort.reverse === true)}">
                    <i18n>mediacentre.entete.name</i18n>
                </th>
                <th class="four centered"
                        ng-class="{'order-by-reversed': (sort.expression === 'subject' && sort.reverse === false),
										'order-by': (sort.expression === 'subject' && sort.reverse === true),
										'four': userIsLocalAdmin() && atLeastOneTicketEscalated(),
										'five': !userIsLocalAdmin() || !atLeastOneTicketEscalated()}">
                    <i18n>mediacentre.entete.editor</i18n>
                </th>
                <th class="four centered"
                    ng-class="{'order-by-reversed': (sort.expression === sortCategoryFunction && sort.reverse === false),
										'order-by': (sort.expression === sortCategoryFunction && sort.reverse === true)}">
                    <i18n>mediacentre.entete.presentation</i18n>
                </th>
                <th class="one centered"
                    ng-class="{'order-by-reversed': (sort.expression === 'owner_name' && sort.reverse === false),
										'order-by': (sort.expression === 'owner_name' && sort.reverse === true)}">
                    <i18n>mediacentre.entete.label</i18n>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ressource in ressources.listeRessources.ressource | orderBy : 'nomRessource' track by $index">
                    <td>
                        <a href="[[ressource.urlAccesRessource]]" target="new"><img src="[[ressource.urlVignette]]" style="height:100px"></a>
                    </td>
                    <td class="smallFontSize"><a href="[[ressource.urlAccesRessource]]" target="new">[[ressource.nomRessource]]</a></td>
                    <td class="smallFontSize centered">[[ressource.nomEditeur]]</td>
                    <td class="smallFontSize centered">[[ressource.typePresentation.nom]]</td>
                    <td><img ng-click="viewDetail(ressource)" src="mediacentre/public/img/i.png" style="height:30px"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>


</body>

</html>
